# Node.js specific files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/log

# Prisma specific
prisma/migrations/

# Database files
*.sqlite
*.db
*.sqlite3

# Optional REPL history
.node_repl_history

# OS specific files
.DS_Store
Thumbs.db

# Editor-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Coverage folder for test reports
coverage/
